/* mobile */
@media only screen and (max-width: 600px){
	canvas {
		background: #eee;
		padding-left: 0;
		padding-right: 0;
		margin-left: auto;
		margin-right: auto;
		display: block;
		margin-top: 15px;
		width: 320px;
		height: 200px;
	}
	
	/* Style the buttons that are used to open and close the accordion panel */
	.accordion {
		background-color: #eee;
		color: #444;
		cursor: pointer;
		padding: none;
		width: 100%;
		text-align: center;
		border: none;
		outline: none;
		transition: 0.4s;
	  }
	  /* Style the accordion panel. Note: hidden by default */
	.panel {
		position: absolute;
		padding: 0 18px;
		background-color: white;
		display: none;
		overflow: hidden;
		z-index: 200;
	  }
	
	h1{
		text-align: center;
	}
	h3{
		text-align: center;
	}
	
	.hide{
		display: none;
	}
	#controls{
		text-align: center;
	}
	#buttons{
		display: inline-block;
	}
	
	.buttonCtn {
		box-shadow: 3px 4px 0px 0px #899599;
		background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
		background-color:#ededed;
		border-radius:15px;
		border:1px solid #d6bcd6;
		
		cursor:pointer;
		color:#3a8a9e;
		font-family:Arial;
		font-size:17px;
		padding:7px 25px;
		text-decoration:none;
		text-shadow:0px 1px 0px #e1e2ed;
	}
	.buttonCtn:hover {
		background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
		background-color:#bab1ba;
	}
}

/* Non-Mobile */
@media only screen and (min-width: 650px){
canvas {
	background: #eee;
	padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
	display: block;
	margin-top: 15px;
	width: 480px;
	height: 450px;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	text-align: center;
	border: none;
	outline: none;
	transition: 0.4s;
  }
  /* Style the accordion panel. Note: hidden by default */
.panel {
	position: absolute;
	left: 420px;
	padding: 0 18px;
	background-color: white;
	display: none;
	overflow: hidden;
	z-index: 200;
  }

h1{
    text-align: center;
}
h3{
    text-align: center;
}

.hide{
    display: none;
}
#controls{
	text-align: center;
}
#buttons{
	display: inline-block;
}

.buttonCtn {
	box-shadow: 3px 4px 0px 0px #899599;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #d6bcd6;
	
	cursor:pointer;
	color:#3a8a9e;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}
.buttonCtn:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}
}